<div class="modal-header">
  <div class="container-fluid">
    <app-logo-block></app-logo-block>

    <!-- <div class="row">
      <div class="col-3">
        <img class="logo"
            alt="Water Monitor"
            src="assets/anuwald_round_large_tr.png"
            height="50">

      </div>
      <div class="col-8">
      </div>
      <div class="col-1">
        <a class="logo" href="http://wald.anu.edu.au/" target="_blank">
          <img class="logo"
               alt="Centre for Water and Landscape Dynamics"
               src="assets/anuwald_round_large_tr.png"
               height="50">
        </a>
      </div>
    </div> -->

  </div>
</div>

<p>TODO:</p>

<p class="citation">
  TODO, (TODO).
  <strong>
    TODO
  </strong>
  <i>
    TODO
  </i>TODO <a href="https://doi.org/10.1016/j.jag.2020.102209">TODO</a>
</p>

<p>Note: TODO.</p>

<p class="small about-disclaimer">
  <strong>Disclaimer:</strong>&nbsp;The material provided on this website is experimental and derived through active research.
  The Australian National University does not have a legislated role in providing authoritative information.
  All information is made available on the understanding that it does not constitute professional advice.
  Before relying on the material in any important matter, users should carefully evaluate its accuracy, currency, completeness and relevance for their purposes, and should obtain any appropriate professional advice relevant to their particular circumstances. Links to other websites do not constitute an endorsement of material at those sites,
  or any associated organisation, product or service.
</p>

