<!--
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <span class="navbar-brand">
      <div class="header-block"></div>
      <span class="header-title">
        <img class="logo"
             alt="Tree Change"
             src="assets/tree-change-logo.png"
             height="60">
      </span>
    </span>
  </div>
  <div>
    <span>
    </span>
  </div>
  <div class="navbar-right">
    <span>
      <a href="http://wald.anu.edu.au/" target="_blank">
        <img  class="logo"
              alt="Centre for Water and Landscape Dynamics"
              src="assets/anuwald-logo.png"
              height="60">
      </a>
    </span>
  </div>

  <div ng-if="!embedded" id="navbar" class="navbar-collapse collapse" ng-class="{'in':!selection.navbarCollapsed}">
      <form class="hidden-xs fullscreen-form navbar-form navbar-right">
        <button ngsf-toggle-fullscreen class="btn btn-primary" uib-tooltip="Toggle Fullscreen"
                tooltip-placement="bottom" tooltip-append-to-body="true">
          <i show-if-fullscreen=false class="fa fa-expand"></i>
          <i show-if-fullscreen=true class="fa fa-compress"></i>
        </button>
      </form>

  </div>
</nav>
 -->

 <div class="container-fluid">
  <div class="row">
    <app-main-map></app-main-map>
  <!-- -->
  </div>
</div>

