<!-- <div class="container">
  <div class="row">
    <p>To download data, please enter your email address below to signify you have read and agree to
      the legal disclaimer (read it  here if you haven’t already). </p>

    <p>You will need to do this only once to allow multiple downloads.  </p>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="email">Email address</label>
    <div class="col-sm-6">
      <input class="form-control"
              type="email"
              id="email"
              [(ngModel)]="emailAddress"
              (ngModelChange)="validate()">
    </div>
    <div class="col-sm-3">
      <button [disabled]="!valid" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input"
           type="checkbox"
           id="subscribe"
           [(ngModel)]="subscribe">
    <label class="form-check-label" for="subscribe">I would like to receive an email message if new data or tools become available in the TreeChange app <i>(optional)</i>.
    </label>
  </div>

  <hr/>

  <div class="row">
    <p><small>Note: This form may reappear in subsequent sessions if you clear your browser cache.</small></p>
  </div>

</div> -->
